// --- Font Family ---
// 1. -apple-system, BlinkMacSystemFont: 맥/아이폰에서 '애플 시스템 폰트' 자동 적용
// 2. Segoe UI: 윈도우에서 기본 폰트 적용
// 3. Roboto: 안드로이드에서 기본 폰트 적용
$font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif;
