.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 70px;
  background-color: #fafafa;
}

header {
  margin-bottom: 60px;
  font-size: 36px;
  font-weight: 400;
  color: var(--text);

  .highlight {
    font-weight: 700;
  }
}
