body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}

.container {
  width: 900px;
  padding-top: 70px;
}

header {
  margin-bottom: 60px;
  font-size: 36px;
  font-weight: 400;
  color: var(--text);

  .highlight {
    font-weight: 700;
  }
}

.profile-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
  height: 236px;
  margin-bottom: 100px;

  .profile-card__avatar-wrapper {
    width: 281px;
    height: 228px;
    overflow: hidden;
    flex-shrink: 0;
  }

  .profile-card__avatar {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .profile-card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .profile-card__group {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .profile-card__title {
    color: var(--primary);
    font-size: 24px;
    font-weight: 700;
  }

  .profile-card__item {
    display: flex;
    gap: 20px;
  }

  .profile-card__label,
  .profile-card__link {
    width: 70px;
  }
  .profile-card__link {
    text-decoration: underline;
  }
}

.section-title {
  font-size: 45px;
  font-weight: 700;
  color: var(--primary);
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 100px;

  .about-me__content {
    display: flex;
    gap: 150px;
    margin-bottom: 30px;
  }

  .about-me__description {
    display: flex;
    flex-direction: column;
    gap: 24px;

    p {
      line-height: 160%;
    }
  }

  .about-me__promotion-img-wrapper {
    position: relative;
    width: 330px;
    height: auto;
  }

  .about-me__promotion-img-caption {
    position: absolute;
    top: 385px;
    left: 0;
    font-size: 14px;
    color: #7d7a75;
  }

  .about-me__promotion-img {
    width: 100%;
    height: auto;
  }

  .about-me__github {
    strong {
      display: block;
      color: #1d1d1d;
      margin-bottom: 10px;
    }
  }

  .about-me__github-img-wrapper {
    width: 810px;
    margin-bottom: 8px;
  }

  .about-me__github-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 100px;

  .experience__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .experience__item {
    display: flex;
    gap: 100px;
  }

  .experience__period {
    width: 170px;
    font-size: 18px;
    font-weight: 700;
    color: #1d1d1d;
  }

  .experience__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .experience__content {
    font-size: 16px;
    font-weight: 400;
    color: #1d1d1d;
  }

  .experience__content-list {
    display: flex;
    flex-direction: column;
  }

  .experience__content-item {
    color: var(--text);
  }
}
.education {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 100px;
}
